.wp-block-template-part:has(.main-footer) {
	margin-block-start: 0;
}
.main-footer {
	.is-layout-constrained {
		&.bottom-footer {
			& > * {
				margin-block-start: 0;
			}
			a:not(.wp-block-navigation-item__content) {
				@extend .text-button;
				color: inherit !important;

				&:hover {
					color: var(--wp--preset--color--secondary) !important;
				}
			}
		}
	}
}