.main-header {
	@include media-breakpoint-down(md) {		
		background: linear-gradient(90deg, #322843 0%, #512D86 100%);
	}
	.custom-logo,
	.wp-block-site-logo img {
		width: 112px;
		height: 87px;

		@include media-breakpoint-down(md) {
			width: 65px;
			height: 50px;
		}
	}
	&.home-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		background-color: transparent !important;
	}
}
.admin-bar {
	.main-header {
		&.home-header {
			top: 32px;

			@include media-breakpoint-down(md) {
				top: 46px;
			}
		}
	}
}