.wp-block-group {
	&.is-style-bs2024-card {
		overflow: hidden;
		
		& > *:last-child {
			margin-bottom: 0;
		}
		.wp-block-buttons:has(.is-style-bs2024-text-button) {
			.wp-block-button__link {
				padding-bottom: 0;
			}
		}
	}
}